<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_ILoanAfterContract">
                    <security mode="None" />
                </binding>
                <binding name="WSHttpBinding_ILoanAfterContract1">
                    <security mode="None" />
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:3790/DscfLoanAfterService.svc"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ILoanAfterContract"
                contract="DscfLoanAfterService.ILoanAfterContract" name="WSHttpBinding_ILoanAfterContract" />
            <endpoint address="http://localhost:3790/DscfLoanAfterService.svc"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ILoanAfterContract1"
                contract="DscfLoanAfterService.ILoanAfterContract" name="WSHttpBinding_ILoanAfterContract1" />
        </client>
    </system.serviceModel>
</configuration>