<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IAuthCenterContract">
                    <security mode="None" />
                </binding>
                <binding name="WSHttpBinding_ICreditLoanContract">
                    <security mode="None" />
                </binding>
                <binding name="WSHttpBinding_ICarLoanContract">
                    <security mode="None" />
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:11331/DscfACService.svc"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IAuthCenterContract"
                contract="DscfACService.IAuthCenterContract" name="WSHttpBinding_IAuthCenterContract" />
            <endpoint address="http://localhost:12454/DscfCreditLoanService.svc"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ICreditLoanContract"
                contract="DscfCreditLoanService.ICreditLoanContract" name="WSHttpBinding_ICreditLoanContract" />
            <endpoint address="http://localhost:11416/DscfCarLoanService.svc"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ICarLoanContract"
                contract="DscfCarLoanService.ICarLoanContract" name="WSHttpBinding_ICarLoanContract" />
        </client>
    </system.serviceModel>
</configuration>